@page "/"
@using Contracts;
@inject HttpClient HttpClient
@if(People is null){
  <p>Loading...</p>
}else {
    <h3>People List</h3>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>YearOfBirth</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var person in People)
        {
            <tr>
                <td>@person.Name</td>
                <td>@person.Address</td>
                <td>@person.YearOfBirth</td>
            </tr>
        }
        </tbody>
    </table>
} 
<h3>Members</h3>

@code {
    private IEnumerable<Member>? People { get; set; }

    protected override async Task OnInitializedAsync()
    {
        People = await HttpClient.GetFromJsonAsync<IEnumerable<Member>>("People");
    }
}
